## Preprocessing

In [184]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [185]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])

In [186]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [187]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [188]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
infrequent_types = application_type_counts[application_type_counts < 200].index.tolist()
application_types_to_replace = infrequent_types


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [189]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [190]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_filtered = classification_counts[classification_counts > 1]
classification_counts_filtered

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [191]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [192]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'CLASSIFICATION'])

In [193]:
# Split our preprocessed data into our features and target arrays
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])
y = application_df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [194]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [195]:
from tensorflow.keras.layers import Dense
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=80, activation='relu', input_dim=len(X_train.columns)))

# Second hidden layer
#nn.add(Dense(units=30, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #

=================================================================
 dense_32 (Dense)            (None, 80)                3280

 dense_33 (Dense)            (None, 1)                 81

=================================================================
Total params: 3361 (13.13 KB)
Trainable params: 3361 (13.13 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [196]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [197]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 676us/step - loss: 0.5785 - accuracy: 0.7138
Epoch 2/50
804/804 [==============================] - 1s 676us/step - loss: 0.5578 - accuracy: 0.7282
Epoch 3/50
804/804 [==============================] - 1s 679us/step - loss: 0.5545 - accuracy: 0.7284
Epoch 4/50
804/804 [==============================] - 1s 644us/step - loss: 0.5526 - accuracy: 0.7295
Epoch 5/50
804/804 [==============================] - 1s 675us/step - loss: 0.5519 - accuracy: 0.7302
Epoch 6/50
804/804 [==============================] - 1s 704us/step - loss: 0.5500 - accuracy: 0.7301
Epoch 7/50
804/804 [==============================] - 1s 709us/step - loss: 0.5498 - accuracy: 0.7310
Epoch 8/50
804/804 [==============================] - 1s 706us/step - loss: 0.5495 - accuracy: 0.7297
Epoch 9/50
804/804 [==============================] - 1s 725us/step - loss: 0.5494 - accuracy: 0.7303
Epoch 10/50
804/804 [==============================] - 1s 720us/step - loss: 0.5484 - accuracy: 0.7301
Epoch 11/50
804/804 [==============================] - 1s 706us/step - loss: 0.5484 - accuracy: 0.7314
Epoch 12/50
804/804 [==============================] - 1s 692us/step - loss: 0.5476 - accuracy: 0.7306
Epoch 13/50
804/804 [==============================] - 1s 653us/step - loss: 0.5479 - accuracy: 0.7305
Epoch 14/50
804/804 [==============================] - 1s 635us/step - loss: 0.5472 - accuracy: 0.7337
Epoch 15/50
804/804 [==============================] - 1s 656us/step - loss: 0.5468 - accuracy: 0.7306
Epoch 16/50
804/804 [==============================] - 1s 752us/step - loss: 0.5468 - accuracy: 0.7325
Epoch 17/50
804/804 [==============================] - 1s 718us/step - loss: 0.5467 - accuracy: 0.7320
Epoch 18/50
804/804 [==============================] - 1s 676us/step - loss: 0.5463 - accuracy: 0.7339
Epoch 19/50
804/804 [==============================] - 1s 644us/step - loss: 0.5467 - accuracy: 0.7326
Epoch 20/50
804/804 [==============================] - 1s 658us/step - loss: 0.5457 - accuracy: 0.7336
Epoch 21/50
804/804 [==============================] - 1s 704us/step - loss: 0.5465 - accuracy: 0.7316
Epoch 22/50
804/804 [==============================] - 1s 753us/step - loss: 0.5456 - accuracy: 0.7328
Epoch 23/50
804/804 [==============================] - 1s 655us/step - loss: 0.5459 - accuracy: 0.7323
Epoch 24/50
804/804 [==============================] - 1s 653us/step - loss: 0.5443 - accuracy: 0.7343
Epoch 25/50
804/804 [==============================] - 1s 645us/step - loss: 0.5454 - accuracy: 0.7324
Epoch 26/50
804/804 [==============================] - 1s 683us/step - loss: 0.5448 - accuracy: 0.7308
Epoch 27/50
804/804 [==============================] - 1s 720us/step - loss: 0.5448 - accuracy: 0.7327
Epoch 28/50
804/804 [==============================] - 1s 710us/step - loss: 0.5445 - accuracy: 0.7321
Epoch 29/50
804/804 [==============================] - 1s 643us/step - loss: 0.5443 - accuracy: 0.7330
Epoch 30/50
804/804 [==============================] - 1s 664us/step - loss: 0.5443 - accuracy: 0.7333
Epoch 31/50
804/804 [==============================] - 1s 675us/step - loss: 0.5442 - accuracy: 0.7333
Epoch 32/50
804/804 [==============================] - 1s 717us/step - loss: 0.5438 - accuracy: 0.7334
Epoch 33/50
804/804 [==============================] - 1s 720us/step - loss: 0.5437 - accuracy: 0.7332
Epoch 34/50
804/804 [==============================] - 1s 667us/step - loss: 0.5438 - accuracy: 0.7326
Epoch 35/50
804/804 [==============================] - 1s 653us/step - loss: 0.5440 - accuracy: 0.7340
Epoch 36/50
804/804 [==============================] - 1s 655us/step - loss: 0.5440 - accuracy: 0.7340
Epoch 37/50
804/804 [==============================] - 1s 678us/step - loss: 0.5435 - accuracy: 0.7334
Epoch 38/50
804/804 [==============================] - 1s 756us/step - loss: 0.5435 - accuracy: 0.7320
Epoch 39/50
804/804 [==============================] - 1s 707us/step - loss: 0.5434 - accuracy: 0.7331
Epoch 40/50
804/804 [==============================] - 1s 665us/step - loss: 0.5431 - accuracy: 0.7339
Epoch 41/50
804/804 [==============================] - 1s 642us/step - loss: 0.5424 - accuracy: 0.7336
Epoch 42/50
804/804 [==============================] - 1s 678us/step - loss: 0.5430 - accuracy: 0.7342
Epoch 43/50
804/804 [==============================] - 1s 721us/step - loss: 0.5432 - accuracy: 0.7337
Epoch 44/50
804/804 [==============================] - 1s 665us/step - loss: 0.5426 - accuracy: 0.7342
Epoch 45/50
804/804 [==============================] - 1s 655us/step - loss: 0.5423 - accuracy: 0.7344
Epoch 46/50
804/804 [==============================] - 1s 660us/step - loss: 0.5428 - accuracy: 0.7348
Epoch 47/50
804/804 [==============================] - 1s 697us/step - loss: 0.5424 - accuracy: 0.7318
Epoch 48/50
804/804 [==============================] - 1s 713us/step - loss: 0.5431 - accuracy: 0.7348
Epoch 49/50
804/804 [==============================] - 1s 768us/step - loss: 0.5421 - accuracy: 0.7343
Epoch 50/50
804/804 [==============================] - 1s 670us/step - loss: 0.5432 - accuracy: 0.7348

In [198]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5532 - accuracy: 0.7280 - 197ms/epoch - 737us/step
Loss: 0.5532320737838745, Accuracy: 0.7280466556549072

In [199]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

C:\Users\ryan.krause\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(